@import "tailwindcss";  



:root {
  --background: #ffffff;
  --foreground: #171717;
}

theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0b0b0f;
    --foreground: #230c25;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/*
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-bg-primary text-text-secondary;
  }

  body {
    @apply antialiased;
  }
}

@layer components {
  .btn-primary {
    @apply bg-brand-primary text-white px-5 py-3 rounded-md font-medium
           hover:bg-brand-hover hover:shadow-glow
           transition-all duration-200;
  }

  .btn-secondary {
    @apply border border-brand-primary text-brand-primary px-5 py-3 rounded-md
           hover:bg-brand-primary hover:text-white
           transition-all duration-200;
  }
}*/




/*
@import "tailwindcss";  



:root {
  --background: #ffffff;
  --foreground: #171717;
}

theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0b0b0f;
    --foreground: #230c25;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
*/